body {
  /* background-image: url("../photos/rodolfo1.jpg"); */
  background-color: #000000; /* Used if the image is unavailable */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: bottom 120% left 50%;
  }
  
  
  #particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
  }

  
